@use '../base/variables' as v;
@mixin heading{

    color: v.$amarillo;
    text-align: center;
    margin: 5rem 0;
    font-size: 2.4rem;
    font-weight: 900;
}

@mixin telefono{
    @media (min-width: 480px){
        @content
    }
}

@mixin tablet{
    @media (min-width: 768px){
        @content
    }
}


@mixin max-tablet{
    @media (max-width: 768px){
        @content
    }
}

@mixin desktop{
    @media (min-width: 992px){
        @content
    }
}

@mixin desktopXL{
    @media (min-width: 1200px){
        @content
    }
}

@mixin max-desktopXL{
    @media (max-width: 1500px){
        @content
    }
}


@mixin grid($columnas, $espaciado){
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin resetear-lista{
    margin: 0;
    padding: 0;
    list-style: none;
}