//colores

$verde : #4CB8B3;
$rosa : #F53756;
$amarillo : #fdc21c;
$morado : #752F97;
$negro : #000000;
$gris-oscuro : #333;
$blanco : #FFFFFF;
$gris : #e1e1e1;
$azul : #0D6EFD;


$primary-color: #db3434;
$secondary-color: #2c3e50;
$light-color: #ecf0f1;

//tipografia 
$fuente_principal :"Lexend", sans-serif;

