* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: #ffffff;
  }
  
  .navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 70px;
    background-color: #bc171f;
    border-radius: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    z-index: 1000;
    backdrop-filter: blur(5px);
  }
  
  .nav-left, .nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .nav-left i,
  .nav-right i {
    font-size: 14px;
    color: #333;
    cursor: pointer;
  }
  
  .carrito {
    cursor: pointer;
    width: 30px;
    height: 30px;
  }


  .nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #sidebar-icon {
    color: #ffffff;
    cursor: pointer;
  }

  .logo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .logo-central {
    width: 100px;
    height: 100px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 20px;
    padding: 4px 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.05);
    height: 30px;
    margin-left: 30px;
    justify-content: center;
  }
  
  .search-container input {
    border: none;
    background: transparent;
    outline: none;
    padding: 6px;
    font-size: 14px;
    width: 250px;
  }
  
  .search-container button {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    padding: 4px;
  }

  .search-container input {
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Estilo del placeholder */
  .search-container input::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
  }