.productos-destacados {
    padding: 2rem;
  
    h2 {
      font-size: 5rem;
      margin-bottom: 8rem;
      margin-top: 8rem;
      text-align: center;
      color: #b91616;
      font-weight: 800;
      font-family: 'Montserrat', sans-serif;
    }
  
    .productos-destacados-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 2rem;
      justify-items: center;
    }
  
    .product-card {
      background: white;
      border-radius: 1rem;
      padding: 2rem 1rem 1.5rem;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
      text-align: center;
      transition: transform 0.3s ease;
      max-width: 350px;
      width: 100%;
  
      &:hover {
        transform: translateY(-5px);
      }
  
      .product-image {
        position: relative;
  
        img {
          max-width: 100%;
          height: auto;
          margin-bottom: 1rem;
        }
  
        .add-to-cart {
          position: absolute;
          bottom: -15px;
          left: 50%;
          transform: translateX(-50%);
          background: black;
          border: none;
          color: white;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          font-size: 1.2rem;
          cursor: pointer;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
          transition: background 0.3s;
  
          &:hover {
            background: #333;
          }
        }
      }
  
      .product-title {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        color: #333;
        font-family: 'Montserrat', sans-serif;
        margin: 5rem 0 0.9rem;
        color: #333;
      }
  
      .product-price {
        font-weight: bold;
        color: #b91616;
        font-size: 1.2rem;
        font-family: 'Montserrat', sans-serif;
      }
    }
  }
  